<link rel="stylesheet" href="/css/header.css">
<header>
    <h2>
        <a href="/">Tododo</a>
    </h2>

    <div id="links">
        <%if(locals.user){%>
            <li>
                <a href="/user/profile"><%=locals.user.name%></a>
            </li>
            <!-- &nbsp; <span>|</span> &nbsp; -->
            <li>
                <a href="/user/logout">Sign Out</a>
            </li>

        <%}else{%>
            <li>
                <a href="/user/sign-in-page">Sign In</a>
            </li>
            <!-- <li>|</li> -->
            <li>
                <a href="/user/sign-up-page">Sign Up</a>
            </li>
        <%}%>
    </div>
</header>



