<h3>Hi <%= todo.user.name %>,</h3>
<h3>Your task "<b style="color:blue"><%=todo.description%></b>" is scheduled tomorrow at <b style="color: blue;"><%= todo.time%> (in 24 hrs)</b>. We hope you will complete it within the due time. </h3>
