<h3>Hi <%= todo.user.name %>,</h3>
<h3>Your task "<b style="color:blue"><%=todo.description%></b>" is scheduled on <b style="color: blue;"><%= todo.date%>.</b> We hope you finish it before we give you a reminder for it.</h3>
